<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <% if (locals.shortId) { %>
        http://localhost:8000/url/<%= shortId %>
    <% } %>
    <form method="post" action="/url">
        <label for="">Enter URL:</label>
        <input name="url"  type="text" placeholder="Enter the url">
        <button onclick="" type="submit">Submit</button>
    </form>
   
   
</body>
</html>