<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <form method="post" action="/signin">
        <label for="">E-mail :</label>
        <input name="email"  type="text" placeholder="Enter the email"><br><br>
        <label for="">Password :</label>
        <input name="password"  type="text" placeholder="Enter the password">
        <button onclick="" type="submit">Submit</button>
    </form>
</body>
</html>